.ns-content--recover{
    min-height: 55vh;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    @media(min-width: 768px){
        min-height: 75vh;
    }
    .ns-box{
        margin: 1rem 0;
    }
    .ns-box__form{
        width: 100%;
    }
    .ns-button{
        margin-top: 2rem;
    }
}