.ns-login{
    margin: 0px auto;
    justify-content: center;
    width: 100%;
    padding: 3em;
    display: flex;
    font-family: sans-serif;
}
.ns-login__box{
    -webkit-box-shadow: 13px 11px 11px -3px rgba(0,0,0,0.16);
    -moz-box-shadow: 13px 11px 11px -3px rgba(0,0,0,0.16);
    box-shadow: 13px 11px 11px -3px rgba(0,0,0,0.16);
    width: 45%;
    height: 700px;
    display: flex;
    flex-direction: column;
    background-color: var(--blue);
    border: solid .5px var(--grey);
    border-radius: 6px;
}
.ns-login__boxtitle{
    display: flex;
    flex-direction: row;
    align-content: stretch;
    flex-basis: 30%;
}
.ns-login__text{
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    align-self: center;
}
.ns-login__uicon{
    color: #ffffff;
    font-size: 120px;
    align-self: center;
    padding: 0.5em;
}
.ns-login__content{
    flex-basis: 70%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
}
.ns-login__form{
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 2em;
}
.ns-login__input-item{
    width: 100%;
    padding: 0.5em;
}

