.ns-input{
    margin: 0.5rem;
    padding: .5rem;
    border: none;
    border-bottom: 1px solid var(--blue);
    @media(min-width: 768px){
        font-size: 1.3rem;
    }
    &:active,
    &:focus{
        outline: none;
        border-bottom: 2px solid var(--violet);
    }
}