.ns-search-box{
    margin-bottom: 2em;
    position: relative;
    .ns-search-box__dropdown{
        display: none;
        position: absolute;
        width: 61%;
        left: 9%;
        list-style-type: none;
        .ns-search-box__item{
            padding: .5em;
            background: white;
            border: 1px solid grey;
            cursor: pointer;
        }
        .ns-search-box__item:hover{
            background: #fafafa;
            font-weight: bold;
        }
    }
    .ns-search-box__dropdown--visible{
        display: block;
    }
}