.ns-table{
    width: 100%;
    .ns-table__header{
        background-color: var(--blue);
        padding: 1rem;
        display: flex;
        align-items: center;
    }
    .ns-table__header-title{
        color: white;
        font-weight: bold;
        margin: 0;
    }
    .ns-table__content{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        color: var(--violet);
        @media(min-width: 768px){
            flex-wrap: no-wrap;    
        }
        &:nth-child(even){
            background-color: var(--light-blue);
        }
    }
    .ns-table__text{
        margin: 0;
        padding: 1rem 0;
        a{
            color: var(--violet);
            font-size: 1.5rem;
            transition: all .3s;
            cursor: pointer;
            &:hover{
                color: darken( #5782F0, 15%)
            }
        }
    }
    .ns-table__text,
    .ns-table__header-title{
        text-align: center;
    }
    .ns-table__link i{
        transition: transform .3s;
    }
    .ns-table__link--flip i{
        transform: rotateX(180deg);
    }
    .ns-table__mobile-actions{
        width: 100%;
        height: 0px;
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        transition: height .3s;
        transition-delay: .1s;
        @media(min-width: 768px){
            display: none;
        }
        .ns-table__mobile-texts{
            display: flex;
            justify-content: center;
            background-color: #5782F0;
            color: white;
            text-align: center;
            font-size: .8rem 1rem;
            width: 100%;
            padding: .5rem;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            p{
                margin: 0;
                padding: 0 .5rem;
            }
        }
        .ns-table__mobile-icons{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            .ns-table__mobile-icon{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 33%;
                i{
                    background-color: var(--violet);
                    color: white;
                    border-radius: 50%;
                    padding: .6rem;
                }
                span{
                    font-size: .8rem;
                }
            }
        }
    }
    .ns-table__mobile-actions--show{
        display: flex;
        height: 120px;
        @media(min-width: 768px){
            display: none;
        }
    }

    /*
    * Tamaños de las columnas
    */
    .ns-table__text:nth-of-type(1),
    .ns-table__header-title:nth-of-type(1){
        width: 40%;
        @media(min-width: 768px){
            width: 10%;
        }
    }
    .ns-table__text:nth-of-type(2),
    .ns-table__header-title:nth-of-type(2){
        width: 40%;
        @media(min-width: 768px){
            width: 20%;
        }
    }
    .ns-table__text:nth-of-type(3),
    .ns-table__header-title:nth-of-type(3),
    .ns-table__text:nth-of-type(4),
    .ns-table__header-title:nth-of-type(4){
        width: 20%;
        display: none;
        @media(min-width: 768px){
            display: block;
        }
    }
    .ns-table__text:nth-of-type(5),
    .ns-table__text:nth-of-type(6),
    .ns-table__text:nth-of-type(7),
    .ns-table__header-title:nth-of-type(5),
    .ns-table__header-title:nth-of-type(6),
    .ns-table__header-title:nth-of-type(7){
        width: 10%;
        display: none;
        @media(min-width: 768px){
            display: block;
        }
    }
    .ns-table__text:nth-of-type(8),
    .ns-table__header-title:nth-of-type(8){
        width: 10%;
        text-align: right;
        @media(min-width: 768px){
            display: none;
        }
    }
}