@charset "UTF-8";
:root {
  --blue: #004E91;
  --light-blue: #DFE9F1;
  --grey: #C4C4C4;
  --violet: #5782F0;
}

/*
* Container con más tamaño según la pantalla
*/
@media (min-width: 1366px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1500px;
  }
}

@media (min-width: 1920px) {
  .container {
    max-width: 1550px;
  }
}

/**************
* Barra superior
***************/
.ns-navbar {
  border-bottom: 2px solid var(--blue);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ns-navbar .ns-navbar__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ns-navbar .ns-navbar__logo-wrapper {
  width: 100%;
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) {
  .ns-navbar .ns-navbar__logo-wrapper {
    width: auto;
  }
}

.ns-navbar .ns-navbar__logo-wrapper--no-login {
  width: 100%;
}

.ns-navbar .ns-navbar__logo {
  max-width: 256px;
}

.ns-navbar .ns-navbar__actions {
  width: 100%;
  margin: 1em 0;
  display: none;
}

@media (min-width: 768px) {
  .ns-navbar .ns-navbar__actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: auto;
    margin: 0;
  }
}

.ns-navbar .ns-navbar__actions--open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ns-navbar .ns-navbar__actions--open .ns-navbar__link--logout {
  margin-left: auto;
}

.ns-navbar .ns-navbar__user-name {
  min-width: 150px;
  min-height: 42px;
  color: white;
  background-color: var(--blue);
  border-radius: 50px;
  padding: .5rem;
  margin: 0;
  text-align: center;
  cursor: default;
}

.ns-navbar .ns-navbar__link {
  margin-left: 1rem;
}

.ns-navbar .ns-navbar__link:hover {
  text-decoration: none;
}

.ns-navbar .ns-navbar__icon {
  display: block;
  padding: .5em;
  color: var(--blue);
  font-size: 1.3rem;
}

.ns-navbar .ns-navbar__link--hamburger .ns-navbar__icon--close {
  display: none;
}

@media (min-width: 768px) {
  .ns-navbar .ns-navbar__link--hamburger {
    display: none;
  }
}

.ns-navbar .ns-navbar__link--hamburger--open .ns-navbar__icon--open {
  display: none;
}

.ns-navbar .ns-navbar__link--hamburger--open .ns-navbar__icon--close {
  display: block;
}

.ns-footer {
  background-color: var(--light-blue);
  color: grey;
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 768px) {
  .ns-footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 1920px) {
  .ns-footer {
    background-image: url("../img/footer-logo.png");
    background-position: right center;
    background-repeat: no-repeat;
  }
}

.ns-footer .ns-footer__text {
  width: 100%;
}

.ns-footer .ns-footer__logo {
  height: auto;
  max-width: 100%;
  margin: 0px auto;
}

@media (min-width: 1920px) {
  .ns-footer .ns-footer__logo {
    display: none;
  }
}

.ns-filter-box {
  width: 100%;
  border: 1px solid var(--grey);
  padding: .8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1rem;
}

.ns-filter-box .ns-filter-box__text {
  margin: 0;
}

.ns-title-box {
  font-size: 1.56rem;
  max-width: 80%;
  background-color: var(--grey);
  color: var(--blue);
  padding: 20px 50px;
  border-radius: 50px;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

.ns-title-box span {
  display: none;
}

@media (min-width: 768px) {
  .ns-title-box span {
    display: inline-block;
  }
}

.ns-input-range {
  border: none;
  color: var(--violet);
  outline: none;
}

.ns-input-range__label {
  color: var(--grey);
}

.ns-box {
  -webkit-box-shadow: 1px 1px 4px 1px #33333320;
          box-shadow: 1px 1px 4px 1px #33333320;
  width: 100%;
  min-height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 6px;
}

@media (min-width: 768px) {
  .ns-box {
    max-width: 700px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-line-pack: center;
        align-content: center;
    min-height: 400px;
  }
}

.ns-box .ns-box__title {
  background-color: var(--blue);
  padding: 1rem 1rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 768px) {
  .ns-box .ns-box__title {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-items: flex-start;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    padding: 2rem;
    max-width: 30%;
  }
}

.ns-box .ns-box__text {
  font-family: 'Raleway';
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: bold;
  margin-left: .2rem;
  word-break: break-word;
  width: 100%;
  margin-left: 1rem;
}

@media (min-width: 768px) {
  .ns-box .ns-box__text {
    margin-left: 0;
    font-weight: 500;
    margin-top: .5rem;
    font-size: 1.5rem;
    max-width: 200px;
  }
}

.ns-box .ns-box__detail {
  color: white;
  font-size: .8rem;
  position: absolute;
  bottom: 0;
  display: none;
}

@media (min-width: 768px) {
  .ns-box .ns-box__detail {
    display: block;
  }
}

.ns-box .ns-box__detail .ns-box__detail-icon {
  font-weight: bold;
  font-size: 1.2rem;
}

.ns-box .ns-box__uicon {
  color: #ffffff;
  font-size: 2rem;
}

@media (min-width: 768px) {
  .ns-box .ns-box__uicon {
    font-size: 8rem;
  }
}

.ns-box .ns-box__content {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ns-box .ns-box__content--edit {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ns-box .ns-box__form {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ns-box .ns-box__input-item {
  width: 100%;
  padding: 0.5em;
}

@media (min-width: 768px) {
  .ns-box .ns-button {
    min-width: 100px;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

.ns-box .ns-box__form-group {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 768px) {
  .ns-box .ns-box__form-group {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.ns-box .ns-box__form-group label {
  margin: 1rem;
}

.ns-box .ns-box__form-group .ns-input {
  width: 100%;
}

@media (min-width: 768px) {
  .ns-box .ns-box__form-group .ns-input {
    width: 45%;
  }
}

.ns-box .ns-box__radio-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid var(--grey);
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 1rem;
}

.ns-box .ns-box__radio-box .ns-box__radio-box-title {
  color: var(--blue);
  font-size: 1.2rem;
  font-weight: bold;
}

@media (min-width: 768px) {
  .ns-box .ns-box__radio-box {
    width: 100%;
  }
  .ns-box .ns-box__radio-box .ns-box__radio-box-title {
    width: 60%;
    margin: 0;
  }
}

.ns-box .ns-box__radio-box .ns-box__form-group {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.ns-box .ns-box__radio-box .ns-box__form-group label {
  margin-left: 0;
}

.ns-box .ns-box__content-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ns-box .ns-box__content-data .ns-button {
  margin-bottom: auto;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .ns-box .ns-box__content-data .ns-button {
    margin-top: 2rem;
    margin-left: 0;
    margin-right: 0;
  }
}

.ns-box .ns-box__list-data {
  max-width: 70%;
}

.ns-box .ns-box__list-data ul {
  margin: 1rem;
  padding: 0rem;
}

@media (min-width: 768px) {
  .ns-box .ns-box__list-data ul {
    padding: 2rem 3rem;
    margin: 1rem 0;
  }
}

.ns-box .ns-box__list-data ul li {
  list-style-type: none;
  font-weight: bold;
  font-size: 0.9rem;
}

.ns-box .ns-box__list-data ul li span {
  color: grey;
  font-weight: lighter;
}

.ns-button {
  background-color: var(--blue);
  font-weight: bold;
  color: white;
  border: 1px solid var(--blue);
  border-radius: 5px;
  padding: .4rem 1rem;
  text-align: center;
}

.ns-button::-webkit-input-placeholder {
  color: white;
  opacity: 1;
  /* Firefox */
}

.ns-button:-ms-input-placeholder {
  color: white;
  opacity: 1;
  /* Firefox */
}

.ns-button::-ms-input-placeholder {
  color: white;
  opacity: 1;
  /* Firefox */
}

.ns-button::placeholder {
  color: white;
  opacity: 1;
  /* Firefox */
}

.ns-button.ns-button--outline {
  background-color: white;
  color: var(--blue);
}

.ns-table {
  width: 100%;
  /*
    * Tamaños de las columnas
    */
}

.ns-table .ns-table__header {
  background-color: var(--blue);
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ns-table .ns-table__header-title {
  color: white;
  font-weight: bold;
  margin: 0;
}

.ns-table .ns-table__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: var(--violet);
}

@media (min-width: 768px) {
  .ns-table .ns-table__content {
    -ms-flex-wrap: no-wrap;
        flex-wrap: no-wrap;
  }
}

.ns-table .ns-table__content:nth-child(even) {
  background-color: var(--light-blue);
}

.ns-table .ns-table__text {
  margin: 0;
  padding: 1rem 0;
}

.ns-table .ns-table__text a {
  color: var(--violet);
  font-size: 1.5rem;
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
}

.ns-table .ns-table__text a:hover {
  color: #154fe6;
}

.ns-table .ns-table__text,
.ns-table .ns-table__header-title {
  text-align: center;
}

.ns-table .ns-table__link i {
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.ns-table .ns-table__link--flip i {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.ns-table .ns-table__mobile-actions {
  width: 100%;
  height: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
  -webkit-transition: height .3s;
  transition: height .3s;
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}

@media (min-width: 768px) {
  .ns-table .ns-table__mobile-actions {
    display: none;
  }
}

.ns-table .ns-table__mobile-actions .ns-table__mobile-texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #5782F0;
  color: white;
  text-align: center;
  font-size: .8rem 1rem;
  width: 100%;
  padding: .5rem;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.ns-table .ns-table__mobile-actions .ns-table__mobile-texts p {
  margin: 0;
  padding: 0 .5rem;
}

.ns-table .ns-table__mobile-actions .ns-table__mobile-icons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.ns-table .ns-table__mobile-actions .ns-table__mobile-icons .ns-table__mobile-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33%;
}

.ns-table .ns-table__mobile-actions .ns-table__mobile-icons .ns-table__mobile-icon i {
  background-color: var(--violet);
  color: white;
  border-radius: 50%;
  padding: .6rem;
}

.ns-table .ns-table__mobile-actions .ns-table__mobile-icons .ns-table__mobile-icon span {
  font-size: .8rem;
}

.ns-table .ns-table__mobile-actions--show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
}

@media (min-width: 768px) {
  .ns-table .ns-table__mobile-actions--show {
    display: none;
  }
}

.ns-table .ns-table__text:nth-of-type(1),
.ns-table .ns-table__header-title:nth-of-type(1) {
  width: 40%;
}

@media (min-width: 768px) {
  .ns-table .ns-table__text:nth-of-type(1),
  .ns-table .ns-table__header-title:nth-of-type(1) {
    width: 10%;
  }
}

.ns-table .ns-table__text:nth-of-type(2),
.ns-table .ns-table__header-title:nth-of-type(2) {
  width: 40%;
}

@media (min-width: 768px) {
  .ns-table .ns-table__text:nth-of-type(2),
  .ns-table .ns-table__header-title:nth-of-type(2) {
    width: 20%;
  }
}

.ns-table .ns-table__text:nth-of-type(3),
.ns-table .ns-table__header-title:nth-of-type(3),
.ns-table .ns-table__text:nth-of-type(4),
.ns-table .ns-table__header-title:nth-of-type(4) {
  width: 20%;
  display: none;
}

@media (min-width: 768px) {
  .ns-table .ns-table__text:nth-of-type(3),
  .ns-table .ns-table__header-title:nth-of-type(3),
  .ns-table .ns-table__text:nth-of-type(4),
  .ns-table .ns-table__header-title:nth-of-type(4) {
    display: block;
  }
}

.ns-table .ns-table__text:nth-of-type(5),
.ns-table .ns-table__text:nth-of-type(6),
.ns-table .ns-table__text:nth-of-type(7),
.ns-table .ns-table__header-title:nth-of-type(5),
.ns-table .ns-table__header-title:nth-of-type(6),
.ns-table .ns-table__header-title:nth-of-type(7) {
  width: 10%;
  display: none;
}

@media (min-width: 768px) {
  .ns-table .ns-table__text:nth-of-type(5),
  .ns-table .ns-table__text:nth-of-type(6),
  .ns-table .ns-table__text:nth-of-type(7),
  .ns-table .ns-table__header-title:nth-of-type(5),
  .ns-table .ns-table__header-title:nth-of-type(6),
  .ns-table .ns-table__header-title:nth-of-type(7) {
    display: block;
  }
}

.ns-table .ns-table__text:nth-of-type(8),
.ns-table .ns-table__header-title:nth-of-type(8) {
  width: 10%;
  text-align: right;
}

@media (min-width: 768px) {
  .ns-table .ns-table__text:nth-of-type(8),
  .ns-table .ns-table__header-title:nth-of-type(8) {
    display: none;
  }
}

.ns-input {
  margin: 0.5rem;
  padding: .5rem;
  border: none;
  border-bottom: 2px solid var(--blue);
}

@media (min-width: 768px) {
  .ns-input {
    font-size: 1.3rem;
  }
}

.ns-input:active, .ns-input:focus {
  outline: none;
  border-bottom: 2px solid var(--violet);
}

.ns-label {
  margin: 0 0.5rem;
  padding: 0 .5rem;
}

.ns-search-box {
  margin-bottom: 2em;
  position: relative;
}

.ns-search-box .ns-search-box__dropdown {
  display: none;
  position: absolute;
  width: 61%;
  left: 9%;
  list-style-type: none;
}

.ns-search-box .ns-search-box__dropdown .ns-search-box__item {
  padding: .5em;
  background: white;
  border: 1px solid grey;
  cursor: pointer;
}

.ns-search-box .ns-search-box__dropdown .ns-search-box__item:hover {
  background: #fafafa;
  font-weight: bold;
}

.ns-search-box .ns-search-box__dropdown--visible {
  display: block;
}

.ns-content--main-menu {
  padding: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 768px) {
  .ns-content--main-menu {
    min-height: 75vh;
  }
}

.ns-main-menu {
  width: 100%;
  margin: 1rem 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 768px) {
  .ns-main-menu {
    margin: 3em 0;
  }
}

.ns-main-menu .ns-main-menu__item {
  list-style-type: none;
  width: 100%;
  padding: 0 1rem;
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .ns-main-menu .ns-main-menu__item {
    width: 50%;
    margin-top: 2rem;
  }
}

.ns-main-menu .ns-main-menu__button {
  width: 100%;
  font-size: 1.2rem;
  height: 100px;
  --border-radius: 12px;
  border: 1px solid #9E9E9E;
  border-radius: var(--border-radius);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  position: relative;
  padding: 0 2em;
  text-align: center;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.ns-main-menu .ns-main-menu__button:after {
  content: '';
  width: 20px;
  height: 100%;
  background-color: var(--blue);
  position: absolute;
  right: 0;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

@media (min-width: 768px) {
  .ns-main-menu .ns-main-menu__button {
    font-size: 1.5rem;
    height: 100px;
  }
}

.ns-main-menu .ns-main-menu__button:hover {
  background-color: var(--blue);
  color: white;
}

.ns-content--table-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 4rem;
  min-height: 75vh;
}

.ns-content--table-view .ns-table {
  margin-bottom: 3rem;
}

.ns-content--table-view .ns-input-date {
  display: none;
}

.ns-content--table-view .ns-filter-box__desktop-filters {
  display: none;
}

@media (min-width: 992px) {
  .ns-content--table-view .ns-filter-box__desktop-filters {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.ns-content--table-view .ns-filter-box__mobile-filters {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ns-content--table-view .ns-filter-box__mobile-filters input {
  margin: .5rem 0;
}

@media (min-width: 992px) {
  .ns-content--table-view .ns-filter-box__mobile-filters {
    display: none;
  }
}

.ns-content--recover {
  min-height: 55vh;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .ns-content--recover {
    min-height: 75vh;
  }
}

.ns-content--recover .ns-box {
  margin: 1rem 0;
}

.ns-content--recover .ns-box__form {
  width: 100%;
}

.ns-content--recover .ns-button {
  margin-top: 2rem;
}

.ns-content--validate {
  min-height: 55vh;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .ns-content--validate {
    min-height: 75vh;
  }
}

.ns-content--validate .ns-box {
  margin: 1rem 0;
}

@media (min-width: 992px) {
  .ns-content--validate .ns-box {
    max-width: 900px;
  }
}

@media (min-width: 768px) {
  .ns-content--validate .ns-box .ns-box__title {
    max-width: 60%;
  }
}

.ns-content--validate .ns-box__form {
  width: 100%;
}

.ns-content--validate .ns-button {
  margin-top: 2rem;
}

.ns-content--login {
  min-height: 55vh;
  padding: 1em 2em;
}

@media (min-width: 768px) {
  .ns-content--login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    min-height: 75vh;
  }
}

.ns-content--login .ns-banner {
  width: 100%;
  padding: .5em;
  margin-top: 1em;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.ns-content--login .ns-banner .ns-banner__image {
  max-width: 100%;
  height: auto;
  margin: 0px auto;
}

@media (min-width: 768px) {
  .ns-content--login .ns-banner {
    display: none;
  }
}

@media (min-width: 768px) {
  .ns-content--login .ns-login-box {
    width: 40%;
    background-color: #F5F5F5;
    padding: 1em 2em;
  }
}

@media (min-width: 1366px) {
  .ns-content--login .ns-login-box {
    width: 20%;
  }
}

.ns-content--login .ns-login-box .ns-login-box__title {
  color: var(--blue);
  margin: 1em 0;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

@media (min-width: 768px) {
  .ns-content--login .ns-login-box .ns-login-box__title {
    text-align: left;
  }
}

.ns-content--login .ns-login-box .ns-login-box__input {
  border: 1px solid #C4C4C4;
  padding: .5em;
  width: 100%;
  margin-bottom: .5em;
}

.ns-content--login .ns-login-box .ns-login-box__actions {
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ns-content--login .ns-login-box .ns-login-box__actions .ns-button {
  margin: 0 .5em;
}

.ns-content--login .ns-login-box .ns-login-box__recover-pass {
  text-align: center;
  margin-top: 1em;
  color: #9E9E9E;
}

.ns-content--login .ns-login-box .ns-login-box__recover-pass a {
  color: #5782F0;
}

.ns-content--login .ns-faq {
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
}

@media (min-width: 768px) {
  .ns-content--login .ns-faq {
    display: none;
  }
}

.ns-content--login .ns-faq .ns-faq__title {
  color: var(--blue);
  margin: .2em 0;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.ns-content--login .ns-faq .ns-faq__select {
  border: 1px solid #C4C4C4;
  padding: .5em;
  width: 100%;
  margin-bottom: .5em;
  color: var(--blue);
}

.ns-content--login .ns-faq .ns-faq__answer {
  border: 2px solid var(--blue);
  border-radius: 5px;
  padding: 1em;
  margin: .5em;
  margin-bottom: 2em;
}

.ns-content--login .ns-faq .ns-faq__answer .ns-faq__answer-text {
  color: var(--blue);
  margin: 0;
}

.ns-content--login .ns-faq .ns-faq__answer--hidden {
  display: none;
}

.ns-content--login .ns-desktop-faq {
  display: none;
}

@media (min-width: 768px) {
  .ns-content--login .ns-desktop-faq {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80%;
    padding: 1em 4em;
  }
}

@media (min-width: 1366px) {
  .ns-content--login .ns-desktop-faq {
    padding: 1em 5em;
  }
}

.ns-content--login .ns-desktop-faq .ns-desktop-banner {
  width: 80%;
  padding: .5em;
  margin-top: 1em;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.ns-content--login .ns-desktop-faq .ns-desktop-banner .ns-banner__image {
  width: 100%;
  height: auto;
  margin: 0px auto;
}

.ns-content--login .ns-desktop-faq .ns-main-menu .ns-main-menu__item {
  width: 100%;
}

@media (min-width: 1180px) {
  .ns-content--login .ns-desktop-faq .ns-main-menu .ns-main-menu__item {
    width: 50%;
  }
}

.ns-content--login .ns-desktop-faq .ns-main-menu__item {
  position: relative;
}

.ns-content--login .ns-desktop-faq .ns-main-menu__item:hover .ns-main-menu__hover-box {
  display: block;
}

.ns-content--login .ns-desktop-faq .ns-main-menu__hover-box {
  display: none;
  color: var(--blue);
  background-color: white;
  border-radius: 5px;
  position: absolute;
  bottom: -30%;
  left: 10%;
  width: 80%;
  border: 2px solid var(--blue);
  cursor: pointer;
  padding: 1em;
}

.ns-content--login .ns-desktop-faq .ns-main-menu__hover-box .ns-main-menu__hover-text {
  padding: 0;
  margin: 0;
}
/*# sourceMappingURL=main.css.map */