@charset "UTF-8";
:root {
  --blue: #004E91;
  --light-blue: #DFE9F1;
  --grey: #C4C4C4;
  --violet: #5782F0;
}

/*
* Container con más tamaño según la pantalla
*/
@media (min-width: 1366px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1500px;
  }
}

@media (min-width: 1920px) {
  .container {
    max-width: 1550px;
  }
}

/**************
* Barra superior
***************/
.ns-navbar {
  border-bottom: 2px solid var(--blue);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ns-navbar .ns-navbar__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ns-navbar .ns-navbar__logo-wrapper {
  width: 100%;
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) {
  .ns-navbar .ns-navbar__logo-wrapper {
    width: auto;
  }
}

.ns-navbar .ns-navbar__logo {
  max-width: 256px;
}

.ns-navbar .ns-navbar__actions {
  width: 100%;
  margin: 1em 0;
  display: none;
}

@media (min-width: 768px) {
  .ns-navbar .ns-navbar__actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: auto;
    margin: 0;
  }
}

.ns-navbar .ns-navbar__actions--open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ns-navbar .ns-navbar__actions--open .ns-navbar__link--logout {
  margin-left: auto;
}

.ns-navbar .ns-navbar__user-name {
  min-width: 150px;
  min-height: 42px;
  color: white;
  background-color: var(--blue);
  border-radius: 50px;
  padding: .5rem;
  margin: 0;
  text-align: center;
  cursor: default;
}

.ns-navbar .ns-navbar__link {
  margin-left: 1rem;
}

.ns-navbar .ns-navbar__link:hover {
  text-decoration: none;
}

.ns-navbar .ns-navbar__icon {
  display: block;
  padding: .5em;
  color: var(--blue);
  font-size: 1.3rem;
}

.ns-navbar .ns-navbar__link--hamburger .ns-navbar__icon--close {
  display: none;
}

@media (min-width: 768px) {
  .ns-navbar .ns-navbar__link--hamburger {
    display: none;
  }
}

.ns-navbar .ns-navbar__link--hamburger--open .ns-navbar__icon--open {
  display: none;
}

.ns-navbar .ns-navbar__link--hamburger--open .ns-navbar__icon--close {
  display: block;
}

.ns-footer {
  background-color: var(--light-blue);
  color: grey;
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 768px) {
  .ns-footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 1920px) {
  .ns-footer {
    background-image: url("../img/footer-logo.png");
    background-position: right center;
    background-repeat: no-repeat;
  }
}

.ns-footer .ns-footer__text {
  width: 100%;
}

.ns-footer .ns-footer__logo {
  height: auto;
  max-width: 100%;
  margin: 0px auto;
}

@media (min-width: 1920px) {
  .ns-footer .ns-footer__logo {
    display: none;
  }
}

.ns-filter-box {
  width: 100%;
  border: 1px solid var(--grey);
  padding: .8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1rem;
}

.ns-filter-box .ns-filter-box__text {
  margin: 0;
}

.ns-title-box {
  font-size: 1.56rem;
  max-width: 80%;
  background-color: var(--grey);
  color: var(--blue);
  padding: 20px 50px;
  border-radius: 50px;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

.ns-title-box span {
  display: none;
}

@media (min-width: 768px) {
  .ns-title-box span {
    display: inline-block;
  }
}

.ns-input-range {
  border: none;
  color: var(--violet);
  outline: none;
}

.ns-input-range__label {
  color: var(--grey);
}

.ns-button {
  background-color: var(--blue);
  font-weight: bold;
  color: white;
  border: 1px solid var(--blue);
  border-radius: 5px;
  padding: .4rem 1rem;
  text-align: center;
}

.ns-button::-webkit-input-placeholder {
  color: white;
  opacity: 1;
  /* Firefox */
}

.ns-button:-ms-input-placeholder {
  color: white;
  opacity: 1;
  /* Firefox */
}

.ns-button::-ms-input-placeholder {
  color: white;
  opacity: 1;
  /* Firefox */
}

.ns-button::placeholder {
  color: white;
  opacity: 1;
  /* Firefox */
}

.ns-button.ns-button--outline {
  background-color: white;
  color: var(--blue);
}

.ns-table {
  width: 100%;
}

.ns-table .ns-table__header {
  background-color: var(--blue);
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ns-table .ns-table__header-title {
  color: white;
  font-weight: bold;
  margin: 0;
}

.ns-table .ns-table__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--violet);
  padding: 1rem;
}

.ns-table .ns-table__content:nth-child(even) {
  background-color: var(--light-blue);
}

.ns-table .ns-table__text {
  margin: 0;
  padding: 1rem 0;
}

.ns-table .ns-table__text,
.ns-table .ns-table__header-title {
  text-align: center;
}

.ns-table .ns-table__text:nth-of-type(1),
.ns-table .ns-table__header-title:nth-of-type(1) {
  width: 50%;
}

@media (min-width: 768px) {
  .ns-table .ns-table__text:nth-of-type(1),
  .ns-table .ns-table__header-title:nth-of-type(1) {
    width: 10%;
  }
}

.ns-table .ns-table__text:nth-of-type(2),
.ns-table .ns-table__header-title:nth-of-type(2) {
  width: 50%;
}

@media (min-width: 768px) {
  .ns-table .ns-table__text:nth-of-type(2),
  .ns-table .ns-table__header-title:nth-of-type(2) {
    width: 20%;
  }
}

.ns-table .ns-table__text:nth-of-type(3),
.ns-table .ns-table__header-title:nth-of-type(3),
.ns-table .ns-table__text:nth-of-type(4),
.ns-table .ns-table__header-title:nth-of-type(4) {
  width: 20%;
  display: none;
}

@media (min-width: 768px) {
  .ns-table .ns-table__text:nth-of-type(3),
  .ns-table .ns-table__header-title:nth-of-type(3),
  .ns-table .ns-table__text:nth-of-type(4),
  .ns-table .ns-table__header-title:nth-of-type(4) {
    display: block;
  }
}

.ns-table .ns-table__text:nth-of-type(5),
.ns-table .ns-table__text:nth-of-type(6),
.ns-table .ns-table__text:nth-of-type(7),
.ns-table .ns-table__header-title:nth-of-type(5),
.ns-table .ns-table__header-title:nth-of-type(6),
.ns-table .ns-table__header-title:nth-of-type(7) {
  width: 10%;
  display: none;
}

@media (min-width: 768px) {
  .ns-table .ns-table__text:nth-of-type(5),
  .ns-table .ns-table__text:nth-of-type(6),
  .ns-table .ns-table__text:nth-of-type(7),
  .ns-table .ns-table__header-title:nth-of-type(5),
  .ns-table .ns-table__header-title:nth-of-type(6),
  .ns-table .ns-table__header-title:nth-of-type(7) {
    display: block;
  }
}

.ns-content--main-menu {
  padding: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 768px) {
  .ns-content--main-menu {
    min-height: 75vh;
  }
}

.ns-content--main-menu .ns-main-menu {
  width: 100%;
  margin: 1rem 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 768px) {
  .ns-content--main-menu .ns-main-menu {
    margin: 3em 0;
  }
}

.ns-content--main-menu .ns-main-menu .ns-main-menu__item {
  list-style-type: none;
  width: 100%;
  padding: 0 1rem;
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .ns-content--main-menu .ns-main-menu .ns-main-menu__item {
    width: 50%;
    margin-top: 2rem;
  }
}

.ns-content--main-menu .ns-main-menu .ns-main-menu__button {
  width: 100%;
  font-size: 1.2rem;
  height: 100px;
  --border-radius: 12px;
  border: 1px solid #9E9E9E;
  border-radius: var(--border-radius);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  position: relative;
  padding: 0 2em;
  text-align: center;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.ns-content--main-menu .ns-main-menu .ns-main-menu__button:after {
  content: '';
  width: 20px;
  height: 100%;
  background-color: var(--blue);
  position: absolute;
  right: 0;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

@media (min-width: 768px) {
  .ns-content--main-menu .ns-main-menu .ns-main-menu__button {
    font-size: 1.5rem;
    height: 100px;
  }
}

.ns-content--main-menu .ns-main-menu .ns-main-menu__button:hover {
  background-color: var(--blue);
  color: white;
}

.ns-content--table-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 4rem;
}

@media (min-width: 768px) {
  .ns-content--table-view {
    min-height: 75vh;
  }
}

.ns-content--table-view .ns-input-date {
  display: none;
}

.ns-content--table-view .ns-filter-box__desktop-filters {
  display: none;
}

@media (min-width: 992px) {
  .ns-content--table-view .ns-filter-box__desktop-filters {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.ns-content--table-view .ns-filter-box__mobile-filters {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ns-content--table-view .ns-filter-box__mobile-filters input {
  margin: .5rem 0;
}

@media (min-width: 992px) {
  .ns-content--table-view .ns-filter-box__mobile-filters {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */